body {
    background-color: bisque;
}

main {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

p{
    width: 25%;
    margin: 0 auto;
}

#image {
    display:block;
    width: 30%;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
}

section {
    display: block;
}

ul {
    width: 60%;
    margin: 5px auto;
    text-align: left;
}

li {
    padding-bottom: 6px;
}

h4 {
    width: 50%;
    text-align: left;
    margin: 3px auto;
    padding-top: 25px;
}